Name = {{ inventory_hostname }}
#AddressFamily = ipv4
Interface = {{ tinc__vpn_interface }}
{% for host in play_hosts %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] and
      hostvars[host]['tinc__allow_incoming_connections']|d(True, boolean=True)
      not hostvars[host]['tinc__remove']|d(False, boolean=True)
%}
ConnectTo = {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}
