Name = {{ inventory_hostname }}
#AddressFamily = ipv4
Interface = {{ tinc__vpn_interface }}
{% for host in play_hosts %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] and
      hostvars[host].get('tinc__allow_incoming_connections', True) and
      not hostvars[host].get('tinc__remove', False)
%}
ConnectTo = {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}
