Address = {{ tinc__public_addr }} {{ tinc__port }}
{% for item in (
        (tinc__vpn_local_subnets or []) + (tinc__vpn_extra_subnets or [])
        ) %}
Subnet = {{ item }}
{% endfor %}

{{ tinc__public_key.stdout }}
